<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.developer.myapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission
        android:name="com.example.developer.myapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WifiSettingsActivity"
            android:label="@string/title_activity_wifi_settings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RemoteWebServerActivity"
            android:label="@string/title_activity_remote_web_server"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EverythingButtonActivity"
            android:label="EverythingButtonActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>